<div class="header">
  <span class="logo">RENTAL MANAGEMENT SYSTEM</span>
  <div class="card-container">
    <div class="select-div">
      <label class="category">Location</label>
      <select placeholder="Country" [(ngModel)]="selectedLocation" (change)="changeCountry()">
        <option *ngFor="let country of locations" [ngValue]="country">{{country.name}}</option>
      </select>
    </div>


    <div class="select-div">
      <label>Branches</label>
      <select placeholder="Country" [(ngModel)]="selectedBranch" (change)="changeState()">
        <option *ngFor="let country of branches" [ngValue]="country">{{country.name}}</option>
      </select>
    </div>
  </div>
</div>
<app-main [categoriesList]="categoriesList"></app-main>
